/* -- DEFAULT -- */

@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #717171;
  background: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.004);
  font-size: 100%;
  font-weight: 400;
}

/* -- GRID -- */

* {
  box-sizing: border-box;
}

.grid {
  display: block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

@media screen and (max-width: 800px) {
  .list .grid  {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .list .grid {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .list .grid .bottom {
    position: static;
    line-height: 20px;
    padding-bottom: 10px;
  }
}
.grid-container .grid {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 500px; /* USE THIS TO RESIZE THE GRIDS */
  width: 500px; /* USE THIS TO RESIZE THE GRIDS */
  margin: 10px;
}
@media screen and (max-width: 600px) {
  .grid-container .grid {
    display: block;
    width: auto;
    height: 150px;
    margin: 10px auto;
  }
}
.grid-container .title {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #eee;
  font-size: 15px;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {opacity: 1.0;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {opacity: 1.0;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {opacity: 1.0;}
}
@keyframes fadeIn {
  0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {opacity: 1.0;}
}
/* -- LEGEND STYLES (NOT PART OF GRID FRAMEWORK) -- */

h1{
  text-align: left;
}
