.polygon , .polygon span {
  display: block;
  font-family: sans-serif;
 font-weight: bold;
  position: relative;
}

.polygon {
  background: #34495e;
  color: #fff;
  display: inline-block;
  margin: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}
.polygon:before, .polygon:after, .polygon span:before, .polygon span:after {
  border-style: solid;
  content: '';
  height: 0;
  position: absolute;
  -webkit-transform: rotate(360deg);
  width: 0;
}

.pentagon {
  height: -97px;
  line-height: 80px;
  margin-top: 0;
  width: 100px;
}

.pentagon:before {
  border-color: transparent transparent #34495e transparent;
  border-color: rgba(228,0,139,0) rgba(228,0,139,0) #34495e rgba(228,0,139,0);
  border-width: 0 82.5px 60px 82.5px;
  left: -32px;
  top: -60px;
}

.pentagon:after {
  display: none;
}

.pentagon span:before {
  border-color: transparent #34495e transparent transparent;
  border-color: rgba(228,0,139,0) #34495e rgba(228,0,139,0) rgba(228,0,139,0);
  border-width: 0 32px 80px 0;
  left: -32px;
}

.pentagon span:after {
  border-color: transparent transparent transparent #34495e;
  border-color: rgba(228,0,139,0) rgba(228,0,139,0) rgba(228,0,139,0) #34495e;
  border-width: 0 0 80px 32px;
  right: -32px;
}